name: Backend CD

on:
  push:
    branches: [ "deploy/#453-gcp-cd" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to Server via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: 22
        script: |
          set -e
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
          nvm use 24.13.1
          cd web19-estrogenquattro
          git pull origin deploy/#453-gcp-cd
          cd backend
          pnpm run migration:generate
          pnpm run migration:run
          cd ..
          pnpm run deploy:reload